// Define variables for your color scheme

// color link: https://coolors.co/0a8754-a8d0db-003459-e49273-e54f6d
           //  https://coolors.co/0a8754-59ac98-a8d0db-003459-726366-ab7b6d-e49273-e58272-e57170-e54f6d
           //  https://coolors.co/ffffff-00171f-003459-007ea7-00a8e8

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$ngo-green: #59AC98;
$ngo-black: #141414;
$ngo-blue: #003459;
$ngo-dark-blue: #00171F;
$ngo-light-blue: #A8D0DB;
$ngo-gray: #808080;
$ngo-light-gray: rgb(230, 230, 230);
